# Ignore operating system files
.DS_Store

# dependencies
/node_modules
/.pnp
.pnp.js

# Ignore editor-specific files
.vscode/
.idea/

# Ignore build artifacts
/build/
/dist/

# Ignore database files and sensitive data
data/db/
*.sql
*.bak

# Ignore environment configuration
.env
venv/
